<section class="orders-show">
  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Email:</th><td colspan="4"><%= @order.email %></td>
        </tr>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each_with_index do |product, i| %>
          <tr>
            <td><%= image_tag product.image.tiny %>
            <td>
              <h4><%= product.name %>
              <br>
              <p><%= product.description %></p>
            </td>
            <td><%= humanized_money_with_symbol product.price_cents / 100 %></td>
            <td><%= @order.line_items[i].quantity%></td>
            <td><%= humanized_money_with_symbol product.price_cents * @order.line_items[i].quantity / 100 %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              <%= humanized_money_with_symbol @order.total_cents / 100 %>
            </th>
          </tr>
        </tfoot>
    </table>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</section>